@import "../variables";

#page {
  padding-top: 50px;

  .title {
    font-weight: 700;
    margin-bottom: 0px;
  }

  .subtitle {
    font-weight: 400;
    font-size: .8em;
    color: $palette-sage !important;
  }

  .cta {
    font-weight: 500;

    &:hover {
      background: $palette-blush !important;
    }
  }
}
