#page
  .row.medium-7.large-8.columns
    .card.text-center
      h3.title Robbie & Bianca
      p.subtitle Are Getting Married
      img.thumbnail.thumbnail-main(src=static_path(@conn, "/images/bg.JPG") alt="Korea Pic")
      p.subtitle
        span 2nd February 2019 &#x00B7 Tagaytay, Philippines
        br Formal invitation to follow
      a.button.primary.cta(target="_blank" href="https://calendar.google.com/calendar/ical/biarob2019%40gmail.com/public/basic.ics") SAVE THE DATE
