<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111581184-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111581184-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Robbie & Bianca Wedding 2019">
    <meta name="author" content="Robbie Marcelo, Bianca Esmero">
    <meta property="og:url"  content="http://www.robbieandbia.com" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Robbie and Bianca Wedding 2019 - Save the Date" />
    <meta property="og:description" content="Robbie and Bianca Wedding 2019 - Save the Date" />
    <meta property="og:image" content="<%= static_path(@conn, "/images/bg.JPG") %>" />
    <link rel="icon" href="<%= static_path(@conn, "/images/favicon.ico") %>" type="image/x-icon">
    <link rel="shortcut icon" href="<%= static_path(@conn, "/images/favicon.ico") %>" type="image/x-icon">

    <title> Robbie & Bianca Wedding 2019 </title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Merriweather:400" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
